/*表格的操作按钮样式的*/
.operate-btns {
  margin-top: 12px;
}

.operate-btns button.el-button {
  float: left;
  margin-right: 8px;
  margin-left: 0;
  margin-bottom: 12px;
}
.operate-btns .tips {
  vertical-align: middle;
}
.opeattionClass {
  margin-left: 20px;
}
.mt20 {
  margin-left: 20px;
}
